[Desktop Entry]
Name=Sakura
GenericName=Terminal
Comment=Use the command line
TryExec=sakura
Exec=sakura
Icon=Terminal
Type=Application
Categories=GTK;Utility;TerminalEmulator;System;
Keywords=terminal;
StartupNotify=true
X-Ubuntu-Gettext-Domain=sakura
Path=
Terminal=false
X-XFCE-Source=file:///home/syafiq/.local/share/applications/sakura.desktop
