[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/syafiq/Desktop/folder older]
row=5
col=11

[/home/syafiq/Desktop/dark2matter]
row=0
col=0

[/home/syafiq/Desktop/mcpelauncher]
row=3
col=0

[/home/syafiq/Desktop/amgp]
row=2
col=0

[/home/syafiq/Desktop/kulino]
row=1
col=0

[Trash]
row=0
col=11

