[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/syafiq/Desktop/net.lutris.Lutris.desktop]
row=3
col=0

[/home/syafiq/Desktop/lock.traffic.net.py]
row=1
col=5

[/home/syafiq/Desktop/WebView]
row=0
col=7

[/home/syafiq/Desktop/test.sh]
row=2
col=3

[/home/syafiq/Desktop/focus]
row=0
col=3

[/home/syafiq/Desktop/AndroidShared]
row=0
col=1

[/home/syafiq/Desktop/rust-exam]
row=0
col=10

[/home/syafiq/Desktop/palm]
row=2
col=9

[/home/syafiq/Desktop/wifi.status.sh]
row=3
col=9

[/home/syafiq/Desktop/web os]
row=1
col=3

[/home/syafiq/Desktop/kelas terbuka]
row=1
col=7

[/home/syafiq/Desktop/droidcam.sh]
row=3
col=7

[/home/syafiq/Desktop/react-native-app]
row=2
col=6

[/home/syafiq/Desktop/mouse.position.controller.txt]
row=2
col=4

[/home/syafiq/Desktop/checkpackagesavailable.sh]
row=3
col=5

[/home/syafiq/Desktop/ttf-wps-fonts]
row=5
col=8

[/home/syafiq/Desktop/frost-plank-theme]
row=1
col=1

[/home/syafiq/Desktop/learn]
row=3
col=10

[/home/syafiq/Desktop/getname.sh]
row=1
col=6

[/home/syafiq/Desktop/livewallpaper-autostart.desktop]
row=2
col=2

[/home/syafiq/Desktop/livewallpaper-indicator.desktop]
row=1
col=2

[/home/syafiq/Desktop/discord.desktop]
row=0
col=0

[/home/syafiq/Desktop/web-greeter]
row=4
col=6

[/home/syafiq/Desktop/betatestchangewallpaper.sh]
row=5
col=2

[/home/syafiq/Desktop/README.pdf]
row=5
col=4

[/home/syafiq/Desktop/spacerush]
row=3
col=2

[/home/syafiq/Desktop/project]
row=5
col=1

[/home/syafiq/Desktop/deep]
row=4
col=5

[/home/syafiq/Desktop/Leaf]
row=4
col=1

[/home/syafiq/Desktop/color.sh]
row=0
col=6

[/home/syafiq/Desktop/themetwister.desktop]
row=5
col=3

[/home/syafiq/Desktop/checksystemless.sh]
row=0
col=4

[/home/syafiq/Desktop/maekmbek.txt]
row=0
col=5

[/home/syafiq/Desktop/icons-combine]
row=3
col=6

[/home/syafiq/Desktop/derp]
row=0
col=2

[/home/syafiq/Desktop/fixlivewallpaper]
row=4
col=0

[/home/syafiq/Desktop/log.txt]
row=2
col=10

[/home/syafiq/Desktop/kulino]
row=4
col=11

[/home/syafiq/Desktop/test.failsystemless.sh]
row=3
col=3

[/home/syafiq/Desktop/net.forspeed.sh]
row=3
col=8

[/home/syafiq/Desktop/danger]
row=5
col=11

[/home/syafiq/Desktop/fonts]
row=2
col=1

[/home/syafiq/Desktop/unique.txt]
row=2
col=5

[/home/syafiq/Desktop/emulator.sh]
row=1
col=4

[/home/syafiq/Desktop/twisterui.sh]
row=1
col=10

[/home/syafiq/Desktop/powershell.desktop]
row=4
col=4

[/home/syafiq/Desktop/betatestfixfromstacer.sh]
row=4
col=8

[/home/syafiq/Desktop/extensions]
row=1
col=9

[/home/syafiq/Desktop/conky]
row=2
col=7

[/home/syafiq/Desktop/amgp]
row=5
col=7

[/home/syafiq/Desktop/rust-wasm]
row=2
col=8

[/home/syafiq/Desktop/headset-electron]
row=5
col=5

[/home/syafiq/Desktop/cobra]
row=1
col=8

[/home/syafiq/Desktop/Experiemnts With Python]
row=0
col=8

[/home/syafiq/Desktop/scrcpy.desktop]
row=1
col=0

[/home/syafiq/Desktop/prototest.jsync]
row=3
col=4

[/home/syafiq/Desktop/Minecraft]
row=0
col=9

[/home/syafiq/Desktop/cinnamon]
row=5
col=0

[/home/syafiq/Desktop/Test.py]
row=4
col=3

[/home/syafiq/Desktop/backup]
row=5
col=6

[/home/syafiq/Desktop/github]
row=3
col=1

[/home/syafiq/Desktop/hirarkidb.txt]
row=4
col=7

[/home/syafiq/Desktop/steam.desktop]
row=2
col=0

[/home/syafiq/Desktop/install.phpmyadmin.themes.sh]
row=4
col=2

[Trash]
row=0
col=11

