[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/syafiq/Desktop/mimetypes.txt]
row=4
col=2

[/home/syafiq/Desktop/chrome-ocdlmjhbenodhlknglojajgokahchlkk-Profile_5.desktop]
row=2
col=1

[/home/syafiq/Desktop/autoremove.sh]
row=0
col=3

[/home/syafiq/Desktop/openStyle]
row=5
col=1

[/home/syafiq/Desktop/matplotlib]
row=0
col=2

[/home/syafiq/Desktop/folder older]
row=1
col=0

[/home/syafiq/Desktop/kulino]
row=4
col=11

[/home/syafiq/Desktop/chrome-eigpmdhekjlgjgcppnanaanbdmnlnagl-Profile_5.desktop]
row=3
col=1

[/home/syafiq/Desktop/okta]
row=2
col=3

[/home/syafiq/Desktop/sqlite3py]
row=5
col=0

[/home/syafiq/Desktop/mcpelauncher]
row=3
col=0

[/home/syafiq/Desktop/amgp]
row=2
col=0

[/home/syafiq/Desktop/skulluglify]
row=4
col=5

[/home/syafiq/Desktop/Origin]
row=1
col=2

[/home/syafiq/Desktop/TODOS.txt]
row=4
col=3

[/home/syafiq/Desktop/skullpatch]
row=4
col=7

[/home/syafiq/Desktop/chrome-aghbiahbpaijignceidepookljebhfak-Default.desktop]
row=1
col=3

[/home/syafiq/Desktop/happy birthday]
row=4
col=1

[/home/syafiq/Desktop/cubex.io]
row=4
col=0

[/home/syafiq/Desktop/déténté]
row=1
col=1

[/home/syafiq/Desktop/WebWindows]
row=3
col=3

[/home/syafiq/Desktop/square.txt]
row=5
col=2

[/home/syafiq/Desktop/font]
row=0
col=1

[/home/syafiq/Desktop/compiler]
row=3
col=2

[/home/syafiq/Desktop/giveup.txt]
row=2
col=2

[/home/syafiq/Desktop/dark2matter]
row=0
col=0

[/home/syafiq/Desktop/WebView]
row=0
col=4

[/home/syafiq/Desktop/es.guide.txt]
row=5
col=3

[Trash]
row=0
col=11

